<h2> Let's Play </h2>

<iframe id="video" width="500px" height="300px" type="text/html" src="" frameborder="0"
  allow="autoplay; encrypted-media"></iframe>
<div class="video" *ngIf="game !== undefined">
  <div *ngIf="active && currentIndex < game.questions.length">
    <h2>
      {{ game.questions[currentIndex].questionText }}
    </h2>

    <div class="taskList list-group">
      <button *ngFor="let answer of game.questions[currentIndex].answers" class="list-group-item list-group-item-action"
        (click)="submitAnswer($event, answer)" type='button'>
        {{ answer.value | titlecase }} </button>
    </div>
  </div>
  <div *ngIf="currentIndex >= game.questions.length">
    <h2>All done!</h2>
    <a routerLink="/songs"><button class="btn btn-primary" type="button">Finish</button></a>
  </div>
</div>