<h2>Create Account</h2>
<div class="alert alert-success" *ngIf="success === true" >User successfully created</div>
<div class="alert alert-danger" *ngIf="errorMessage !== undefined" >{{ errorMessage }}</div>
<div class="row"><span class="label">Username:</span><input type="text" placeholder="username" name="Username" id="username" /></div>
<div class="row"><span class="label">Password:</span><input type="password" placeholder="password" name="password" id="password" /></div>
<button class="btn btn-primary" (click)="submit()" type="button" >Submit</button>