/* You can add global styles to this file, and also import other style files */
.list-group-item:hover {
    background: blue;
    color: white;
}

h2 {
    margin-top: 2ex;
    margin-bottom: 2ex;
}
